html, body{
    height: 100%;
    margin: 0;
  }

/* Alignement des differents elements dans le header */

header nav {
    background: #eee;
    display : flex;
    align-items: center;
    justify-content: center;
}

header nav .left-header {
    display: inline;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    font-size : 25px;
    font-family: -apple-system;
    align-items: center;
    justify-content: center;
}

header nav .left-header * {
    margin: 10px 10px;
}

header nav img {
    max-width: 100px;
    align-items: center;
    justify-content: center;
}

header nav .right-header {
    /*display: inline;*/
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    font-size : 25px;
    font-family: -apple-system;
    align-items: right;
    justify-content: center;
}

header nav .right-header * {
    margin: 10px 10px;
}

#logo > img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style du bouton rechercher */

/*header nav .right-header .searchBox {
    margin: 0 0;
}

header nav .right-header .searchBox input {
    border-radius: 6px;
    height: 30px;
    font-size: 15px;
}*/

.wrapper{
    position: absolute;
  }
  
  .search-contain{
    position: relative;
  }
  
  .input{
    width: 100px;
    border: 3px solid #fff;
    background: transparent;
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    font-size: 15px;
  }

  .input:focus {
    background : white;
    color: black;
  }

  .close-btn{
    position: absolute;
    /*top: 21px;*/
    right: auto;
    cursor: pointer;
    color: #fc913a;
    background: #fff;
    border: 0px;
    width: 120px;
    height: 55px;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
  }