html, body{
    height: 100%;
    margin: 0;
  }

/* Alignement des differents elements dans le header */

header nav {
    background: #eee;
    display : flex;
    align-items: center;
    justify-content: center;
}

header nav .left-header {
    display: flex;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    font-size : 25px;
    font-family: -apple-system;
    align-items: center;
    justify-content: center;
}

header nav .left-header * {
    margin: 10px 10px;
}

header nav img {
    max-width: 100px;
    align-items: center;
    justify-content: center;
}

header nav .right-header {
    display: flex;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    font-size : 25px;
    font-family: -apple-system;
    align-items: center;
    justify-content: center;
}

header nav .right-header * {
    margin: 10px 10px;
}

/* Style du bouton rechercher */
