* {
    margin: 0 0;
}

header ul {
    display: inline-flex;
}

header .right-header li {
    font-style: none;
}

header .logo {
    display : flex;
    font-style: none;
    margin-left: 10px;
    justify-content: center;
}