<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Box</title>
    <link rel="stylesheet" href="produit.css">
</head>
<body>
    
    <div class="product-box">
        <div class="pic">
            <img src="produit-test.jpg">
        </div>
        <div class="name">
            <a href="">Air Jordan 1 - University Blue</a>
        </div>
        <div class="price">
            6000 MAD 
        </div>
    </div>

</body>
</html>